html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/TodoF1/todoF1/Images/LogoPrincipal.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(236, 100, 100, 0.884), 0 0 15px rgb(193, 107, 243);
}

.container {
    display: flex;
    flex-direction: column;
    height: 99%;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

#InitSes {
    margin-top: 10px;
}

#title {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8), 0 0 15px #e10600;
    transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
    display: inline-block;
}

#title:hover {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9),
        0 0 25px #ff1e1e;
    transform: scale(1.05);
    color: #ffecec;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #640C00;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(39, 39, 39, 0.2), rgba(248, 248, 248, 0.8), rgba(39, 39, 39, 0.2));
    animation: shine 3s infinite;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px #f0eeee;
}

.btn:hover::before {
    animation: shine 1s forwards;
}

.btn:hover::before {
    left: 100%;
}

@keyframes shine {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

/* Estilos para los acordeones */
.accordion-container {
    position: fixed;  
    top: 65%;       
    left: 50%;        
    transform: translateX(-50%);
    z-index: 1000;    
    background-color: rgba(145, 0, 0, 0.568);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 10px;
    padding-left: 21px;
    padding-right: 21px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    width: 45%;      /* Valor por defecto para pantallas grandes */
    max-width: 700px;
}


.accordion {
    background: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    text-align: left;
    width: 95%;
    outline: none;
    transition: color 0.3s;
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}

.accordion:hover {
    transform: scale(1.05);
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}

.accordion:after {
    content: '\25BC';
    float: right;
    color: #e10600;
    transition: transform 0.3s;
}

.accordion.active:after {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;
    padding: 10px 20px;
    border: 2px solid #e03030;
    margin-bottom: 10px;
    font-size: 12px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 0 0 10px 10px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Para pantallas pequeñas (viewport menor o igual a 768px) */
@media screen and (max-width: 1098px) {
    .accordion-container {
        width: 80%;
    }
}