/* Estilos básicos */
        body {
            background: #000;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #background-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            filter: brightness(0.3);
        }
        .login-container {
            background: rgba(0, 0, 0, 0.75);
            padding: 40px;
            border-radius: 16px;
            box-shadow: 0 0 25px rgba(255, 0, 0, 0.6), 0 0 60px rgba(255, 0, 0, 0.2);
            width: 300px;
            text-align: center;
            animation: entrada 1s ease forwards;
            border: 3px solid rgba(255, 0, 0, 0.3);
        }
        input[type=text], input[type=password] {
            width: 93%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 8px;
            border: none;
            font-size: 1rem;
        }
        button {
            margin-top: 20px;
            background: #e10600;
            border: none;
            color: white;
            padding: 10px;
            width: 100%;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
            font-size: 1rem;
        }
        button:hover {
            background: #ff3b3b;
        }
        
        .error {
            margin-top: 15px;
            color: #ff4b4b;
            font-weight: bold;
        }

        .back-button {
            position: fixed;
            top: 100px;
            left: 100px;
            z-index: 1000;
            width: 150px;
            background: #000;
            color: #fff;
            border: 2px solid #e10600;
            padding: 10px 20px;
            font-size: 0.9rem;
            font-weight: bold;
            font-family: 'Urbanist', sans-serif;
            text-transform: uppercase;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
            overflow: hidden;
        }

        .back-button::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(120deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
            transform: skewX(-20deg);
            transition: left 0.5s ease;
        }

        .back-button:hover::before {
            left: 100%;
        }

        .back-button:hover {
            background-color: #e10600;
            color: white;
            box-shadow: 0 0 25px rgba(255, 0, 0, 0.5);
        }